body {
  background-image: url("../images/extra_clean_paper.png"); }
  body #root {
    min-width: 300px; }
    body #root .container {
      margin-left: 15px; }
      body #root .container h3 {
        margin-top: 10px; }
      body #root .container button {
        max-width: 150px;
        display: inline-block;
        margin-right: 50px;
        font-size: 18px;
        margin-bottom: 10px; }
      body #root .container form {
        margin-top: 20px; }
        body #root .container form > * {
          padding-left: 0;
          margin-top: 5px; }
        body #root .container form div:nth-child(2) {
          width: 40%;
          max-width: 130px;
          display: inline-block; }
        body #root .container form input {
          margin-bottom: 5px; }
        body #root .container form input[type='text'] {
          width: 90%; }
        body #root .container form select {
          width: 20%;
          display: inline-block;
          max-width: 130px; }
        body #root .container form .error {
          color: #db1018;
          padding-left: 10px; }
      body #root .container ul {
        width: 90%;
        margin-top: 15px; }
        body #root .container ul li {
          padding-top: 6px;
          padding-bottom: 6px; }
          body #root .container ul li span {
            float: right; }
        body #root .container ul .list-group-item-dark {
          text-decoration: line-through; }
      body #root .container .footer {
        font-size: 18px;
        margin-bottom: 20px; }
        body #root .container .footer a, body #root .container .footer span {
          margin-right: 20px; }

@media only screen and (min-width: 768px) {
  body #root .container {
    margin: auto; }
    body #root .container form > * {
      width: 100%;
      margin-top: 0; }
    body #root .container form input[type='text'] {
      width: 100%; }
    body #root .container form button {
      max-width: 125px;
      height: 38px; }
    body #root .container ul {
      margin-top: 20px; }
    body #root .container .footer {
      font-size: 18px; } }
